/* Loginhcura.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 1.5%;
  }
  
  .login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #45a049;
  }
  
  .toggle-link {
    color: #4CAF50;
    cursor: pointer;
  
  }
  
  .toggle-link:hover {
    color: #45a049;
  }

  
  .toggle-link {
    color: #4CAF50;
    cursor: pointer;
    text-decoration: underline;
 
  }
  
  .toggle-link:hover {
    color: #45a049;
  }